
.container {
    background-color: #2d3a8c;
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
    height: 30px;
}

.container-heading {
    color: #f5f7fa;
    font-size: 16px;
    font-family: "Roboto";
}

.container-description {
    color: #ffffff;
    font-size: 24px;
    font-family: "Roboto";
}

.bookmark-container {
    background-color: #ffffff;
    background-size: cover;
    margin: 0px;
    border-radius: 18px;
}

.bookmark-container-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    padding: 20px;
}

.boxContainer {
    background-color: #f5f7fa;
    border-radius: 15px;
    padding: 20px;
    border-style: solid;
    border-color: #cbd2d9;
    border-width: 1px;
}

.google-box {
    color: #323f4b;
}

ul {
    list-style-type: none;
}

label {
    color: #7b8794;
    font-size: 14px;
    font-weight: 500;
}

.button {
    background-color: #2d3aBc;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}

p {
    color: #dc3545;
}

.formContainer {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60vh;
}

.cardHeading {
    color: #21396c;
    font-size: 20px;
}